global:
  baseDomain: local

applications:
  cert-manager-app:
    sources:
      - repoURL: https://github.com/quannt24/code-monkey-cert-manager-ops.git
        targetRevision: trunk
        path: helm-chart
        helm:
          releaseName: cert-manager-app
          valueFiles:
            # - values.yaml
            # - {env}.values.yaml
            - local-secret.values.yaml

applicationsets:
  monitoring:
    template:
      spec:
        source:
          helm:
            valueFiles:
              - values.yaml
              - local.values.yaml
              - local-secret.values.yaml
