global:
  baseDomain: local

# -- Deploy Argo CD Applications within this helm release
# @default -- `{}` (See [values.yaml])
## Ref: https://github.com/argoproj/argo-cd/blob/master/docs/operator-manual/
applications:
  cert-manager-app:
    namespace: argocd
    # Without finalizers, the Application is removed but its resources are left behind.
    # With finalizers enabled, it's a "cascading delete" both the Application
    # and its resources are removed
    # WARNING: Access to Web UIs may lost if cert-manager is removed.
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    project: default
    sources:
      - repoURL: https://github.com/quannt24/code-monkey-cert-manager-ops.git
        targetRevision: main
        path: helm-chart
        helm:
          releaseName: cert-manager-app
          # valueFiles:
          #   - values.yaml
          #   - {env}.values.yaml
          #   - {env}-secret.values.yaml
    destination:
      server: https://kubernetes.default.svc
      namespace: cert-manager
    syncPolicy:
      automated:
        prune: true
        selfHeal: true
      syncOptions:
        - CreateNamespace=true

  # monitoring-app:
  #   namespace: argocd
  #   finalizers:
  #     - resources-finalizer.argocd.argoproj.io
  #   project: default
  #   sources:
  #     - repoURL: https://github.com/quannt24/code-monkey-monitoring-ops.git
  #       targetRevision: main
  #       path: helm-chart
  #       helm:
  #         releaseName: monitoring-app
  #         valueFiles:
  #           - values.yaml
  #           # - {env}.values.yaml
  #           # - {env}-secret.values.yaml
  #   destination:
  #     server: https://kubernetes.default.svc
  #     namespace: monitoring
  #   syncPolicy:
  #     automated:
  #       prune: true
  #       selfHeal: true
  #     syncOptions:
  #       - CreateNamespace=true

# -- Deploy Argo CD Projects within this helm release
# @default -- `{}` (See [values.yaml])
## Ref: https://github.com/argoproj/argo-cd/blob/master/docs/operator-manual/
## Ref: https://github.com/argoproj/argo-helm/blob/main/charts/argocd-apps/values.yaml
projects:
  monitoring:
    namespace: argocd
    permitOnlyProjectScopedClusters: false
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    description: Project for monitoring applications
    sourceRepos:
      # - '*'
      - https://github.com/quannt24/code-monkey-monitoring-ops.git
      - https://grafana.github.io/helm-charts
    destinations:
      - namespace: monitoring
        server: https://kubernetes.default.svc
    clusterResourceWhitelist: []
    clusterResourceBlacklist: []
    # # Allow all namespaced-scoped resources to be created,
    # except for ResourceQuota, LimitRange, NetworkPolicy
    namespaceResourceBlacklist:
    - group: ''
      kind: ResourceQuota
    - group: ''
      kind: LimitRange
    - group: ''
      kind: NetworkPolicy
    namespaceResourceWhitelist: []

    # Enables namespace orphaned resource monitoring.
    orphanedResources:
      warn: false

    roles: []

    # https://argo-cd.readthedocs.io/en/stable/user-guide/sync_windows/
    # syncWindows:
    # - kind: allow
    #   schedule: '10 1 * * *'
    #   duration: 1h
    #   applications:
    #   - '*-prod'
    #   manualSync: true

    # signatureKeys:
    # - keyID: ABCDEF1234567890

    # When using Applications-in-any-namespace, this field determines which namespaces this AppProject permits
    # Applications to reside in. Details: https://argo-cd.readthedocs.io/en/stable/operator-manual/app-any-namespace/
    # sourceNamespaces:
    #   - argocd

# -- Deploy Argo CD ApplicationSets within this helm release
# @default -- `{}` (See [values.yaml])
## Ref: https://argo-cd.readthedocs.io/en/stable/operator-manual/applicationset/
## Ref: https://github.com/argoproj/argo-helm/blob/main/charts/argocd-apps/values.yaml
applicationsets:
  monitoring:
    namespace: argocd
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    syncPolicy:
      # Set Application finalizer
      preserveResourcesOnDeletion: false
    goTemplate: true
    generators:
      - git:
          repoURL: https://github.com/quannt24/code-monkey-monitoring-ops.git
          revision: main
          directories:
            # Expected path pattern: apps/<namespace>/*/<app-name>
            - path: apps/*/*
    template:
      metadata:
        name: '{{index .path.segments 1}}-{{.path.basenameNormalized}}'
        annotations: {}
      spec:
        project: monitoring
        source:
          repoURL: https://github.com/quannt24/code-monkey-monitoring-ops.git
          targetRevision: main
          path: '{{.path.path}}'
          helm:
            releaseName: '{{index .path.segments 1}}-{{.path.basenameNormalized}}'
            valueFiles:
              - values.yaml
              # - {env}.values.yaml
              # - {env}-secret.values.yaml
        destination:
          server: https://kubernetes.default.svc
          namespace: '{{index .path.segments 1}}'
        syncPolicy:
          automated:
            prune: true
            selfHeal: true
        # ignoreDifferences:
        # - group: apps
        #   kind: Deployment
        #   jsonPointers:
        #   - /spec/replicas

# --  Deploy Argo CD Applications/ApplicationSets/Projects within this helm release
# @default -- `[]` (See [values.yaml])
## Ref: https://argo-cd.readthedocs.io/en/stable/operator-manual/applicationset/
## Ref: https://github.com/argoproj/argo-helm/blob/main/charts/argocd-apps/values.yaml
itemTemplates: []

# -- DEPRECATED - Please refer [Deprecation Notice](https://github.com/argoproj-labs/argocd-extensions?tab=readme-ov-file#deprecation-notice) for more info.
# @default -- `{}` (See [values.yaml])
## This function in tech preview stage, do expect unstability or breaking changes in newer versions. Bump image.tag if necessary.
## Ref: https://github.com/argoproj-labs/argocd-extensions
extensions: {}
